main{
    flex-direction: column;
    opacity: 0.85;
}
th, td{
    border: solid rgb(158, 152, 152) 1px;
    padding: 15px 15px;
}
th {
    text-align: center;
    
}
table{
    border-collapse: collapse;
    font-size: smaller;
    background-color: rgba(199, 187, 187, 0.876);
  
}
.edit{
    display: flex;
    justify-content: center;
}
.delete{
    display: flex;
    justify-content: center;
}
