table {
    margin: auto;
    border: 1px solid black;
    width: 900px;
    height: 300px;
    
    border-collapse: separate;
  border: 1px solid #000;
}
tr {
    text-align: center;
    border: 1px solid #000;
}
td {
    text-align: center;
    border: 1px solid #000;
    width: 100px;
}
th {
    width: 350px;
    text-align: center;
    border: 1px solid #000;
}
}
tbody tr {
    text-align: center;
    border: 1px solid black;
}
h1 {
    margin-bottom: 100px;
 {
    width: 50px;
    height: 50px;
}